<h1>Employee Tracker</h1>

<p></p>

<ul>
  <% @employees.not_fired().each do |employee| %>
  <li><%= employee.employee_name %></li>
  <% end %>
</ul>

<p>Add a new employee:</p>

<form action='/employees' method='post'>
  <label for='employee_name'>Name</label>
  <input id='employee_name' name='employee_name' type='text'>

  <button type="submit" class="btn btn-sm btn-primary">Add employee</button>
</form>

<% @employees.each() do |employee| %>
<li><%= employee.employee_name %> <a href="/employees/<%= employee.id() %>/edit">Update this employee's record</a></li>
<% end %>
