<h1>Employee Tracker</h1>

<p></p>



<p>Add a new Division</p>

<div class="jumbotron">
<form action='/divisions' method='post'>
  <label for='division_name'>Division Name</label>
  <input id='division_name' name='division_name' type='text'>

  <button type="submit" class="btn btn-sm btn-primary">Add Division</button>
</form>

</div>

<% if @divisions.any?() %>
<p>Click on a division to see its employees:</p>



<ul>
  <% @divisions.each do |division| %>
  <li><a href="/divisions/<%= division.id() %>"><%= division.division_name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no divisions!</p>
<% end %>
